/* TRANSFORMATIONS */




/* BASE STYLES
------------------------------------- */
body {
    margin: 0;
    padding: 0.5em;
    background-color: rgb(60, 57, 226);
    color: rgb(30, 0, 163);
    font-family: sans-serif;
}

img {
    max-width: 100%;
}





/* NAVIGATION
------------------------------------- */
nav {

}

nav a {

}

nav a:hover {

}





/* HOME PAGE
------------------------------------- */
main {
    background-image: url(images/Backgroudn.jpg);
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
}

.Micheal-1 {
    opacity: 0.5;
    position: relative;
    z-index: 1;
    




}

.Micheal-2 {
    position: absolute;
    left: 0;
    width: 40vw;
    opacity: 0.5;
    transform: rotate(-45deg);
    filter: blur(1px);




}


/* GALLERY PAGE
------------------------------------- */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    max-width: 50em;
    margin: 5em auto;
}

.gallery-item {
    padding: 0.5em;
    border: 1px solid black;
    display: grid;
    align-items: end;
    background: white;
}



